* {
    padding: 0;
    margin: 0;
   
}
html, body {
    font-family: 'Roboto', sans-serif;
}
#body-content {
    margin-top: 50px;
    margin-left: 50px;
    float: left;

} 
h1 {
    text-align: center;
    margin-bottom: 30px;
}



table, tr, th, td {
    border: 1px solid black;
    border-collapse: collapse;
}

td, th {
    padding: 30px 20px;
}

.tim-kien-hoa-don {
    margin-bottom: 30px;
    height: 30px;
}


.tim-kien-hoa-don input {
    height: 30px;
}

.tim-kien-hoa-don .tim-kiem-ten {
    padding-left: 10px;
}



#paging {
	margin-top: 50px;
	display: flex;
	align-content: center;
	align-items: center;
	justify-content: center;
}

.pagination {
  display: inline-block;
}

.pagination a {
  color: black;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
}

.pagination a.active {
  background-color: #4CAF50;
  color: white;
  border-radius: 5px;
}

.pagination a:hover:not(.active) {
  background-color: #ddd;
  border-radius: 5px;
}